.user_container{
    width: 100%;
    height: 150px;
    margin: 1px 0;
    background: rgb(57,58,94);
    background: linear-gradient(180deg, rgba(57,58,94,1) 0%, rgba(40,42,63,1) 100%);

    .user_content{
        max-width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .user_thumbnail{
            height: 70%;
            border-radius: 50%;
            margin-right: 20px;
        }

        .user_infos{
            margin-right: auto;

            p{
                font-size: 1.5rem;
                color: #E2E2E2;
            }
        }

        button{
            padding: 5px 10px;
            border: 1px solid #dcdcdc;
            background: #dcdcdc;
            border-radius: 5px;
            font-weight: bold;
        }
    }
}
@media screen and(max-width: 768px) {
    .user_container{
        height: 125px;

        .user_content{
            max-width: 95%;

            .user_thumbnail{
                margin-right: 10px;
            }

            .user_infos{

                p{
                    font-size: 1rem;
                }
            }
            @media screen and(max-width: 480px) {
                .user_infos{
                    p{
                        font-size: 0.8rem;
                    }
                }
            }

            button{
                padding: 2px 5px;
            }
        }
    }
}


.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    top: 0;
    left: 0;
}

.modal_box{
    width: 80vw;
    height: 40vh;
    margin: auto;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    background-color: #E2E2E2;
    border-radius: 6px;
    position: fixed;
    left: 10vw;
    top: 10vh;
    display: none;

    .modal_title{
        width: 100%;
        height: 80px;
        background: #474971;
        border-radius: 5px 5px 0px 0px;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p{
            font-size: 1.5rem;
            color: #E2E2E2;

            span{
                font-size: 1.5rem;
                color: #c9d73c;
            }
        }
        @media screen and(max-width: 500px) {
            
                p{
                    font-size: 1rem;

                    span{
                        font-size: 1rem;
                    }
                }
            
        }
    }

    .modal_form{
        width: 100%;
        height: calc(100% - 80px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;

        button, input, select, textarea{
            margin: 10px 0;
            height: 35px;
            border: 1px solid #bfbfbf;
            border-radius: 10px;
            background: #ffffff;
        }
        input{
            width: 90%;
            padding: 0px 5px;
        }
        select{
            width: 90%;
        }

        .modal_button{
            width: 80px;
            font-weight: bold;
        }
    }

    .modal_content{
        width: 100%;
        height: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 10px;

        h2{
            font-size: 1.5rem;
        }
        @media screen and(max-width: 768px) {
            h2{
                font-size: 1rem;
            }
        }

        button{
            padding: 5px 10px;
            border: 1px solid #bfbfbf;
            border-radius: 10px;
            font-weight: bold;
        }
    }

}
@media screen and(min-width: 1024px) {
    .modal_box{
        max-width: 50%;
        left: calc(70% - 45%);
    }
}
